<ul id="sold_listing_associated_attrs">
    <h3>Sold Listing Associated Attributes</h3>
    <% @associated_attrs.where(endpoint_id: 16).each do |associated_attr| %>
    <li><%= associated_attr.attr.attr_title %></li>
    <li><%= associated_attr.ui_info %></li>
    <% end %>
</ul>