<div id="<%= dom_id endpoint %>">
  <p>
    <strong>Endpoint title:</strong>
    <%= endpoint.endpoint_title %>
  </p>
  <p>
    <strong>Endpoint ID:</strong>
    <%= endpoint.id %>
  </p>

  <div>
    <% @endpoint_associated_attrs.each do |endpoint_associated_attr| %>
      <p>
        <% if endpoint_associated_attr.endpoint.id == endpoint.id %>
          <%= link_to endpoint_associated_attr.attr.attr_title, endpoint_associated_attr %>
        <% end %>
      </p>
    <% end %>
  </div>

</div>