<p style="color: green"><%= notice %></p>

<h1>Endpoints</h1>

<div id="endpoints">
  <% @endpoints.each do |endpoint| %>
    <p>
      <%= link_to endpoint.endpoint_title, endpoint %>
    </p>
  <% end %>
</div>

<%= link_to "New endpoint", new_endpoint_path %>
