<h1>Editing endpoint associated attr</h1>

<%= render "form", endpoint_associated_attr: @endpoint_associated_attr %>

<br>

<div>
  <%= link_to "Show this endpoint associated attribute", @endpoint_associated_attr %> |
  <%= link_to "Back to endpoint associated attributes", endpoint_associated_attrs_path %>
</div>
