<h1>New endpoint associated attr</h1>

<%= render "form", endpoint_associated_attr: @endpoint_associated_attr %>

<br>

<div>
  <%= link_to "Back to endpoint associated attrs", endpoint_associated_attrs_path %>
</div>
