<div class="endpoint_title">
  <h1>Group</h1>
</div>

<div class="associated_attrs">
  <%= render_product_association('Group', 'API') %>
  <%= render_product_association('Group', 'Engage') %>
  <%= render_product_association('Group', 'Roster') %>
</div>

<%= render 'shared/nav' %>