
<ul id="endpoints">
<h3>Each endpoint currently available within the API</h3>
  <% @endpoints.each do |endpoint| %>
    <b><li><%= endpoint.endpoint_title %></li></b>
  <% end %>
</ul>
<hr>
<ul id="attrs">
<h3>Every attribute available within the API</h3>
  <% @attrs.each do |attr| %>
    <li><%= attr.attr_title %></li>
  <% end %>
</ul>
<hr>

<ul id="endpoint_associated_attrs">
<h3>Endpoint Associated Attributes</h3>
  <% @endpoint_associated_attrs.each do |endpoint_associated_attr| %>
    <li><%= [endpoint_associated_attr.endpoint.endpoint_title, endpoint_associated_attr.attr.attr_title] %></li>
    
  <% end %>
</ul>
