
<ul id="endpoints">
<h3>Endpoints in the API</h3>
  <% @endpoints.each do |endpoint| %>
    <b><li><%= endpoint.endpoint_title %></li></b>
  <% end %>
</ul>
<hr>
<ul id="attrs">
<h3 style="margin-bottom: 0;">Attributes in the API</h3>
<h5 style="margin-top: 0;">(these are associated with one or more Endpoint)</h5>
  <% @attrs.each do |attr| %>
    <li><%= attr.attr_title %></li>
  <% end %>
</ul>
<hr>

<ul id="endpoint_associated_attrs">
<h3>Endpoint Associated Attributes</h3>
  <% @endpoint_associated_attrs.each do |endpoint_associated_attr| %>
    <li><%= [endpoint_associated_attr.endpoint.endpoint_title, endpoint_associated_attr.attr.attr_title] %></li>
    
  <% end %>
</ul>
