
 .endpoint_title {
    padding-left: 12%;
    color: white;
    background-color: #5392d7;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 8px solid #51d8cf;
    h1 {
        margin-top: 0;
        font-weight: 300;
    }
 }

 .associated_attrs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .product_association {//entire card
        width: 45%;
        text-align: center;
        background-color: rgb(240,240,240);        
        margin: 1em;
        border-radius: 15px;
        .associated_product {//image and title
            width: 45%;
            position: absolute;
            z-index: 1;
            background-color: #5392d7;
            height: 175px;
            border-bottom: 8px solid #51d8cf;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            h3 {
                color: white;
            }
        }
        .product_associated_attrs {//attribute and info
            margin-top: 175px;
            padding-left: 1em;
            padding-right: 1em;
            padding-top: .5em;
            max-height: 50vh;
            overflow-y: scroll;
            scrollbar-width: thin;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                li {
                    padding: .25em;
                    width: 100%;
                    hr {
                        width: 100%;
                        color: black;
                        border-style: solid;
                    }
                    h5 {
                        font-size: .8em;
                        margin: 0;
                        font-weight: 600;
                    }
                    h6 {
                        font-size: .66em;
                        margin: 0;
                    }
                }
            }
        }
     }
 }