/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li {
        padding: .25em;
        width: 100%;
        hr {
            width: 100%;
            color: #5392d7;
            border-style: solid;
        }
    }
}

.associated_attrs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
 .endpoint_title {
    padding-left: 12%;
    color: white;
    background-color: #5392d7;
    height: 100px;
    display: flex;
    align-items: center;
    h1 {
        margin-top: 0;
    }
 }

 .product_association {
    width: 40%;
    text-align: center;
 }