<p style="color: green"><%= notice %></p>

<h1>Attributes</h1>

<div id="attrs">
  <% @attrs.each do |attr| %>
    <%= render attr %>
    <p>
      <%= link_to "Show this attribute", attr %>
    </p>
  <% end %>
</div>

<%= link_to "New attribute", new_attr_path %>
